<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to right, #fc1e1e, #fcac44);
            /* Gradient from peach to orange */
            color: black;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            background-color: rgba(255, 255, 255, 0.1);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            width: 100%;
            max-width: 400px;
            backdrop-filter: blur(10px);
            /* Adds a blur effect to the background */
        }

        label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #31f59d;
            /* Soft red-orange color */
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            font-size: 16px;
            margin-bottom: 10px;
        }

        button:hover {
            background-color: #f9867b;
            /* Darker shade for hover effect */
        }

        a {
            color: #ddd;
            text-align: center;
            display: block;
            text-decoration: none;
            margin-top: 10px;
        }

        a:hover {
            color: #fff;
            text-decoration: underline;
        }

        p {
            color: #ffdddd;
            /* Light red color for error messages */
            background-color: #660000;
            /* Dark red background for error messages */
            padding: 10px;
            border-radius: 5px;
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <form action="/auth/login" method="POST">
        <h1>Login</h1>
        <% if (error.length> 0) { %>
            <p>
                <%= error %>
            </p>
            <% } %>
                <label>Username:</label>
                <input type="text" name="username" required>
                <label>Password:</label>
                <input type="password" name="password" required>
                <button type="submit">Login</button>
                <a href="/auth/register.ejs">Register</a>
    </form>
</body>

</html>